* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
}

.task-wrapper {
    background-color: white;
    box-shadow: 10px 15px purple ;
    width: calc(80vw);
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px; 
}

.taskList-wrapper {
    width: 80%; 
}
.sections{
    padding: 40px 0;
    text-align: center;
}
.add{
    text-align: center;
}
.add button{
    padding: 15px 30px;
    font-size: 12px;
}

.add  p{
    padding: 10px;
}
.clear-all button{
    padding: 15px 20px;
    font-size: 30px;
    color: white;
    margin: 10px;
    border: none;
    background-color: blueviolet;
    box-shadow: 10px 5px purple;
    border-radius: 10px;
}
.clear-all button:hover{
    background-color: white;
    color: blueviolet;
    transition: .5s ease-in-out;
    border: 3px solid purple;
}
.logo {
    font-size: 50px;
    color: black;
    font-family: 'Dancing Script';
    border: 1px solid blueviolet;
    margin: 5px;
    border-radius: 10px;
}
span {
    color: blueviolet;
}
.input-no-border{
    border: none;
    font-size: 23px;
    font-weight: bold;
   margin-bottom: 30px;
}
.task-content{
    padding-bottom: 20px;
    border: none;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
}
.task{
   display: flex;
   flex-direction: column;
   border: 1px solid rgb(76, 51, 100);
   padding: 20px;
}
.task-completed {
   margin: 5px;
   padding: 40px;
   height: 35px;
   color: blueviolet !important;  
}

@media (max-width:280px) {
    .input-no-border, .task-content{
        width: 100%;
    }

    .task-wrapper{
        margin: 100px;
    }

    .clear-all button{
        padding: 15px;
        font-size: 15px;
    }

}