body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: blueviolet !important;
}

.task-wrapper {
    margin-bottom: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100% !important;
}

.taskList-wrapper {
    width: 80%; 
}
.sections{
    padding: 40px 0;
    text-align: center;
}
.add{
    text-align: center;
}
.add button{
    padding: 15px 30px;
    font-size: 20px;
}

.add{
    padding: 3px 10px;
    font-weight: bold;
    background-color: blueviolet;
}
.clear-all button{
    padding: 10px 15px;
    font-size: 30px;
    color: white;
    margin: 10px;
    border: none;
    background-color: blueviolet;
    border-radius: 10px;
}
.clear-all button:hover{
    background-color: white;
    color: blueviolet;
    transition: .5s ease-in-out;
    border: 3px solid purple;
}
.logo {
    font-size: 50px;
    color: black;
    font-family: 'Dancing Script';
    border: 1px solid blueviolet;
    margin: 5px;
    border-radius: 10px;
}
span {
    color: blueviolet;
}
.taskSpan{
    font-weight: bold;
    font-size: 14px;
    margin: 0 3px;
}
.TodoInput{
    border-radius: 15px !important;
}
@media (max-width:280px) {

    .logo{
        font-size: 20px !important;
    }
     
    .task-content{
        width: 100%;
        overflow: none;
    }
    .input-no-border{
        width: 100%;
    }
    .clear-all button{
        padding: 15px;
        font-size: 15px;
    }
    .task-wrapper{
        text-align: center !important;
        justify-content: center;
        text-align: center;
        width: 100% !important;
    }
}

@media (max-width:768px) {
    .task-wrapper{
        width: 100%;
    }
}